.empty-information-card {
  height: 300px;
  width: 60%;
  margin-bottom: 20px;
  margin-left: 20%;
  padding-left: 10%;
  padding-top: 60px;
  background-color: white;
  border-radius: 10px;
  font-size: 100px;
  color: #e6e6e6;
}